body {
    background-color: #0f0f11;
}

#game, h1 {
    color: aliceblue;
    background-color: #ffffff;
    max-width: 500px;
    max-height: 400px;
    padding: 10px;
    margin: 30px auto 0 auto;
}

h1 {
    color: #0f0f11;
}
#stats {
    color: #0f0f11;
}

button {
    cursor: pointer;
    background-image: linear-gradient(#11123f,#4c85e0);
    color: #cfcfca;
    margin: 5px 0 0 0;
}